@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<ProjetoFinalCurso1500.Models.NewsFeed>

@{
    ViewData["Title"] = "Index";
}

<h1>Noticias</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Criar nova</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary mr-1">Detalhes</a> 

                        @if(User.Identity.IsAuthenticated && (await AuthorizationService.AuthorizeAsync(User, "SalesmanAllowed")).Succeeded){
                    
                             <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mr-1">Editar</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mr-1">Deletar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
