@model ProjetoFinalCurso1500.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-6">Detalhes</h1>

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concessionaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concessionaire.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Voltar para a listagem</a>

</div>
