@model IEnumerable<ProjetoFinalCurso1500.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1 class="class="display-6"">Carros</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concessionaire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concessionaire.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mr-1">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary mr-1">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mr-1">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
